<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolex.eshop.dao.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rolex.eshop.model.User">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="name" property="name"/>
    </resultMap>

    <insert id="save">
        insert into user (name) values (#{user.name})
    </insert>

    <select id="findById" resultType="com.rolex.eshop.model.User">
        select * from user where id=#{id}
    </select>

</mapper>
