<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolex.griffons_eye.dao.mapper.EntInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rolex.griffons_eye.model.EntInfo">
        <id column="id" property="id" />
        <result column="ent_id" property="entId" />
        <result column="ent_name" property="entName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <update id="updateEntInfo">
        update ent_info set ent_name=#{entInfo.entName} where ent_id=#{entInfo.entId}
    </update>

    <select id="findById" resultType="com.rolex.griffons_eye.model.EntInfo">
        select * from ent_info where ent_id=#{entId}
    </select>

</mapper>
